.root {

    -fx-background-color: black;

}

RadioButton {
    -fx-text-fill: black;
    -fx-font-family: 'Consolas';
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-color: #e62e00;
    -fx-min-width: 175;
}

Button {
    -fx-background-color: #e62e00 ;
    -fx-font-family: 'Consolas';
    -fx-font-size: 30;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

Label {

    -fx-font-family: 'Consolas';
    -fx-text-fill: #e62e00;
    -fx-font-size: 20px;
    -fx-font-weight: bold;

}

CheckBox {
    -fx-font-family: 'Consolas';
    -fx-text-fill: #e62e00;
}

TextField {
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: #e62e00;
    -fx-min-width: 150;
}
.radio-button:selected .radio .dot {
    -fx-background-color: black;
    -fx-background-insets: 0;
}


#titleText {
    -fx-font-family: 'Consolas';
    -fx-font-size: 40;
    -fx-stroke: #e62e00;
    -fx-stroke-width: 3;
}

