.cell {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: black;
}
.cell-highlight {
    /*-fx-background-color:derive(black,90%);*/
    -fx-background-color:#0FFF00;
}
.cell-hover-highlight {
    -fx-background-color:derive(green,90%);
}